<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">
	<!-- <sql id="criteria">
		<trim suffix="and">
			<foreach collection="typeArr" item="type" separator="or" open="(" close=")">
				<if test="type eq 'T'.toString()">
					TITLE LIKE '%'|| #{keyword} ||'%'
				</if>
				<if test="type eq 'C'.toString()">
					CONTENT LIKE '%'|| #{keyword} ||'%'
				</if>
				<if test="type eq 'W'.toString()">
					WRITER LIKE '%'|| #{keyword} ||'%'
				</if>
			</foreach>
		</trim>
	</sql> -->
	
	<select id="getList" resultType="org.zerock.domain.BoardVO">
		SELECT * FROM TBL_BOARD WHERE BNO > 0 ORDER BY BNO DESC
	</select>
	
	<select id="read" resultType="org.zerock.domain.BoardVO">
		SELECT * FROM TBL_BOARD WHERE BNO = #{bno}
	</select>
	
	<delete id="delete">
		DELETE FROM TBL_BOARD WHERE BNO = #{bno}
	</delete>
	
	<insert id="insert">
		INSERT INTO TBL_BOARD(BNO, TITLE, CONTENT, WRITER) 
		VALUES(SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_BOARD(BNO, TITLE, CONTENT, WRITER)
		VALUES(#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<update id="update">
		UPDATE TBL_BOARD
		SET TITLE = #{title},
		    CONTENT = #{content},
		    WRITER = #{writer},
		    UPDATEDATE = SYSDATE
		WHERE BNO = #{bno}
	</update>
	
	<!-- <select id="getListWithPagging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			SELECT BNO, TITLE, CONTENT, WRITER, REGDATE, UPDATEDATE
			      FROM (
			         SELECT /*+ INDEX_DESC(TBL_BOARD PK_BOARD) */
			         ROWNUM RN, BNO, TITLE, CONTENT, WRITER,REGDATE, UPDATEDATE
			         FROM TBL_BOARD
			         WHERE ROWNUM <= #{pageNum} * #{amount}
			      )
			WHERE RN > (#{pageNum} - 1) * #{amount}
		]]>
	</select> -->
	
	<select id="getListWithPagging" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			SELECT BNO, TITLE, CONTENT, WRITER, REGDATE, UPDATEDATE
			FROM (
				SELECT /*+ INDEX_DESC(TBL_BOARD PK_BOARD) */
				ROWNUM RN, BNO, TITLE,CONTENT, WRITER,REGDATE, UPDATEDATE
				FROM TBL_BOARD
				WHERE
		]]>
		<!-- <include refid="criteria"></include> -->
		<trim prefix="(" suffix=") and">
			<foreach collection="typeArr" item="type" separator="or">
				<if test="type eq 'T'.String()">
					TITLE LIKE #{keyword}
				</if>
				<if test="type eq 'C'.String()">
					CONTENT LIKE #{keyword}
				</if>
				<if test="type eq 'W'.String()">
					WRITER LIKE #{keyword}
				</if>
			</foreach>
		</trim>
		<![CDATA[
				ROWNUM <= #{pageNum} * #{amount}
			)
			WHERE RN > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<!-- <select id="getTotalCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM TBL_BOARD WHERE BNO>0
		]]>
	</select> -->
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM TBL_BOARD WHERE
		<!-- <include refid="criteria"></include> -->
		BNO > 0
	</select>
	
	<!-- 검색조건 -->
	<!--SELECT * FROM TBL_BOARD
		WHERE ( CONTENT LIKE '파프리카' and TITLE LIKE '오이' and WRITER LIKE '토마토' )
		and ROWNUM < 10-->
	<!-- <select id="searchTest" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			SELECT * FROM TBL_BOARD
			WHERE
		]]>
			<trim suffix="and">
				<foreach collection="map" index="key" item="val" separator="or" open="(" close=")">
					<if test="key == 'T'.toString()">
						TITLE LIKE #{val}
					</if>
					<if test="key == 'C'.toString()">
						CONTENT LIKE #{val}
					</if>
					<if test="key == 'W'.toString()">
						WRITER LIKE #{val}
					</if>
				</foreach>
			</trim>
		<![CDATA[
			ROWNUM < 10
		]]>
	</select> -->
	<select id="searchTest" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			SELECT * FROM TBL_BOARD
			WHERE
		]]>
		<trim prefix="(" suffix=") and">
			<foreach collection="map" index="key" item="val" separator="or">
				<if test="key == 'T'.toString()">
					TITLE LIKE #{val}
				</if>
				<if test="key == 'C'.toString()">
					CONTENT LIKE #{val}
				</if>
				<if test="key == 'W'.toString()">
					WRITER LIKE #{val}
				</if>
			</foreach>
		</trim>
		<![CDATA[
			ROWNUM < 10
		]]>
		<!-- /*+ INDEX_DESC(TBL_BOARD PK_BOARD)*/ -->
	</select>
</mapper>